.benefit__container{
display: flex;
padding: 150px 100px;
}
.benefit__left{
    width: 600px;
    margin-right: 155px;
    margin-top: 50px;

}
.benefit__title{
    width: 497px;
    margin-bottom: 30px;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 70px;
}
.benefit__text{
    width: 460px;
    margin-bottom: 25px;
    font-family: 'Red Hat Display';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
}
.benefit__button{

}
.benefit__img{

}
